<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>4Mobility</title>
    <link rel="stylesheet" type="text/css" href="../../static/styles/style.css">
</head>
<body>
    <!-- Header -->
    <header class="header center-content">
        <div class="sub-header">
            <h1><span class="txt-blue">4</span>Mobility</h1>

            <!-- Navigation -->
            <nav>
                <ul>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#features">FEATURES</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </nav>
            <!-- End of Navigation -->
        </div>
    </header>
    <!-- End of Header -->

    <!-- Banner -->
    <section class="banner" id="banner">
        <div class="sub-banner">
            <div class="sub-banner-content">
                <h1 class="txt-title-banner txt-bold txt-color-white">Welcome to 4Mobility</h1>
                <h3 class="txt-subtitle-banner txt-color-white">is a web application</h3>
                <p class="txt-paragraph-banner txt-color-white">That allows you to manage your mobility.
                    It is a tool that helps you to plan your trips, to find the best route and to track your expenses</p>
            </div>
            <div class="sub-banner-content-2">

            </div>
        </div>
    </section>
    <!-- End of Banner -->

    <!-- About -->
    <section class="about" id="about">
        <h2 class="txt-title-banner txt-blue">About</h2>
        <div class="sub-about">
            <div class="info-about">
                <h3 class="txt-subtitle-banner txt-blue">What is 4Mobility?</h3>
                <p class="txt-paragraph-banner">4Mobility is a web application that allows you to manage your mobility.
                    It is a tool that helps you to plan your trips, to find the best route and to track your expenses.</p>
            </div>
            <div class="img-about">

            </div>
        </div>
    </section>
    <!-- End of About -->

    <!-- Features -->
    <section class="features" id="features">
        <h2 class="txt-title-banner txt-blue">Features</h2>
        <ul>
            <li>Plan your trips</li>
            <li>Find the best route</li>
            <li>Track your expenses</li>
        </ul>
    </section>
    <!-- End of Features -->

    <!-- Contact -->
{#    <section id="contact">#}
{#        <h2 class="txt-title-banner txt-blue">Contact</h2>#}
{#        <p>For more information, please contact us at <a href="mailto:info@4mobility.me"> </a>#}
{#    </section>#}
    <!-- End of Contact -->

    <!-- Introduction Video -->
    <section class="video" id="video">
        <h2 class="txt-title-banner txt-blue p-2">Introduction Video</h2>
        <div class="sub-video">
            <iframe
                    src="https://www.youtube.com/embed/7e90gBu4pas"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media;
                    gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </section>

        <!-- End of Introduction Video -->

    <!-- Footer -->
    <footer>
        <div class="sub-footer">
            <div>
                <h3 class="txt-title-banner"><span class="txt-blue">4</span>Mobility</h3>
{#                <p>is a web application that allows you to manage your mobility.</p>#}
            </div>
            <div>
                <h3>For Private Customers</h3>
                <ul>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#features">FEATURES</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>
            <div>
                <h3>Main Office</h3>
                <ul>
                    <li>Maputo, Mozambique</li>
                    <li>(+258) 84XXXXXXX</li>
                    <li>7 days per week from 8am to 6pm</li>
                </ul>
            </div>
        </div>
        <p>&copy; 2024 <span class="txt-blue">4</span>Mobility</p>
    </footer>
    <!-- End of Footer -->
</body>
</html>